**/.env
**/.idea
**/.DS_Store
**/venv
**/env
**/__pycache__
# no need to upload the DB and LOG folders also
https://riptutorial.com/git/example/911/exceptions-in-a--gitignore-file
!**/db/
**/db/*
!**/db/touch.txt

!**/logs/
**/logs/*
!**/logs/touch.txt
*.log
